body { font-family: Arial; padding: 20px; }
input { display: block; margin: 5px 0; padding: 5px; width: 250px; }
button { margin: 5px 0; padding: 5px 10px; }
a { cursor: pointer; color: blue; text-decoration: underline; }
#list div { margin: 5px 0; }
